.header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 18rem;

    .logo-container {
        width: 560px;
        background-color: #f3f4f6;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            height: 10rem;
        }
    }

    .slideshow-container {
        flex-grow: 1;
        height: 100%;
    }
}

@media (max-width: 800px),
(orientation: portrait) {
    .header {
        flex-direction: column;

        .logo-container {
            width: 100%;
            height: 6rem;
            background-color: #f3f4f6;

            .logo {
                height: 5rem;
            }
        }

        .slideshow-container {
            height: 12rem;
        }
    }
}
  
  


