<header class="header w-full">
  <!-- Logo Section -->
  <div class="logo-container flex items-center justify-center bg-gray-100 z-10">
    <img 
      src="assets/images/logo/logo-eza.svg" 
      alt="EZA Wildlife" 
      (click)="onLogoClick()" 
      [matTooltip]="'LABELS.BACK_HOME' | translate" 
      class="logo cursor-pointer"
    />
  </div>

  <!-- Slideshow Section -->
  <div class="slideshow-container relative overflow-hidden">
    <swiper-container 
      class="w-full h-full" 
      autoplay="true" 
      loop="true" 
      navigation="true" 
      pagination="true" 
      slides-per-view="1"
    >
      <swiper-slide>
        <img 
          src="assets/images/header/the_tiger.jpg" 
          alt="Slide 1" 
          class="w-full h-full object-cover object-center" />
      </swiper-slide>
      <swiper-slide>
        <img 
          src="assets/images/header/the_vegans.jpg" 
          alt="Slide 2" 
          class="w-full h-full object-cover object-center" />
      </swiper-slide>
      <swiper-slide>
        <img 
          src="assets/images/header/tigers.jpg" 
          alt="Slide 3" 
          class="w-full h-full object-cover object-center" />
      </swiper-slide>
    </swiper-container>
  </div>
</header>
