<header class="header w-full">
  <!-- Logo Section -->
  <div class="logo-container flex items-center justify-center bg-gray-100 z-10">
    <img src="assets/images/logo/logo-eza.svg" alt="EZA Wildlife" (click)="onLogoClick()"
      [matTooltip]="'LABELS.BACK_HOME' | translate" class="logo cursor-pointer" />
  </div>

  <div
  #animatedText
  class="absolute top-0 left-0 w-full h-full flex items-center justify-center z-50 pointer-events-none text-white text-4xl"
>
  Eksploruj świat z EZA Wildlife!
</div>


  <!-- Slideshow Section -->
  <div class="slideshow-container relative overflow-hidden">
    <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" speed="100"
      css-mode="true" class="w-full h-full" autoplay="false" loop="false" navigation="true" pagination="true"
      slides-per-view="1">
      @for (item of media(); track item.id) {
      <swiper-slide>
        <img [src]="item.path" [alt]="item.name" class="w-full h-full object-cover object-center" />
      </swiper-slide>
      }
    </swiper-container>
  </div>
</header>