.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 1px 1px;
  overflow: hidden; /* Zapobiega obcinaniu rozwijanego submenu */
}

.menu-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (orientation: landscape) {
  .menu-container {
      flex-direction: row; /* W orientacji poziomej układ horyzontalny */
  }

  .menu-container app-menu-link {
      flex: 1; /* Każdy przycisk zajmuje równą szerokość */
  }
}
