<nav class="toolbar bg-gray-200 p-4 flex justify-between">
    @if(structure().length) {
    <div class="menu-container">
        <app-menu [menuData]="structure()" (linkClicked)="onLinkClicked($event)" />
    </div>
    }
    <div class="flex items-center">
        <button mat-button [matTooltip]="currentLanguage() === 'EN' ? 'Change language' : 'Zmień język'"
            class="language-switch" (click)="toggleLanguage()">
            {{ currentLanguage() === 'EN' ? 'PL' : 'EN' }}
        </button>
    </div>
</nav>