<div *ngIf="!cookieConsentGiven"
    class="cookie-banner bg-gray-500 bg-opacity-70 text-white flex flex-col sm:flex-row items-center justify-between p-4 shadow-lg">
    <p class="text-sm sm:text-base">
        {{ 'DESCRIPTIONS.COOKIES' | translate }}
    </p>
    <div class="mt-4 sm:mt-0 flex space-x-2 ml-2">
        <button mat-flat-button 
                class="custom-button accept-button" 
                (click)="acceptCookies()">
            {{ 'ACTIONS.ACCEPT' | translate }}
        </button>
        <button mat-flat-button 
                class="custom-button decline-button" 
                (click)="declineCookies()">
            {{ 'ACTIONS.DECLINE' | translate }}
        </button>
    </div>
</div>
