<div class="menu-link" [class.open]="isOpen">
  <button class="main-button" mat-button [ngClass]="{ 'selected': activeLink() === link.value }" (click)="onLinkClicked()">
    <div class="button-content">
      {{ link.label }}
      @if (link.submenu) {
        <i class="fas icon" 
        [ngClass]="{
          'fa-plus': !isOpen,
          'fa-minus': isOpen
        }"></i>
      }
    </div>
  </button>
  @if (link.submenu) {
    <div
      class="submenu"
      [@submenu]="isOpen ? 'open' : 'closed'"
      (click)="$event.stopPropagation()"
    >
      @for (subitem of link.submenu; track subitem.value) {
        <button class="submenu-button" mat-button (click)="onSubLinkClicked(subitem.value)">
          {{ subitem.label }}
        </button>
      }
    </div>
  }
</div>
