<div class="menu-link" [class.open]="isOpen">
  <button mat-button (click)="toggleSubmenu()">
    {{ link.label }}
  </button>
  @if (link.submenu) {
    <div
      class="submenu"
      [@submenu]="isOpen ? 'open' : 'closed'"
      (click)="$event.stopPropagation()"
    >
      @for (subitem of link.submenu; track subitem.value) {
        <button class="submenu-button" mat-button (click)="onSubLinkClicked(subitem.value)">
          {{ subitem.label }}
        </button>
      }
    </div>
  }
</div>
