.menu-link {
  position: relative;
  display: grid;

  .main-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: darkolivegreen;
    font-weight: 400;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;

    ::ng-deep .mdc-button__label {
      display: contents;
    }

    .button-content {
      display: flex;
      justify-content: space-between; /* Tekst i ikona po przeciwnych stronach */
      align-items: center; /* Wyrównanie w pionie */
      width: 100%; /* Pełna szerokość przycisku */
    }
    .icon {
      margin-left: auto; /* Automatyczny margines z lewej strony, by "docisnąć" ikonę do prawej */
      font-size: 0.4rem; /* Rozmiar ikony */
    }

    &:hover {
      background-color: #02e211dd;
      color: white;
    }
  }


  .submenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Wyrównanie tekstu do lewej */
    background: white;
    box-shadow: none;
    position: relative;
    border-radius: 4px;
  }

  .submenu-button {
    text-align: left;
    /* Tekst wyrównany do lewej */
    width: auto;
    /* Dopasowanie szerokości do zawartości */
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    outline: none;
    margin: 4px;
  }
}