<div class="layout-container mx-auto max-w-screen-xl">
  <!-- Header -->
  <app-header></app-header>

  <!-- ToolBar -->
  <app-main-tool-bar></app-main-tool-bar>

  <!-- Content and Sidebar -->
  <div class="content-container flex flex-col lg:flex-row">
    <!-- Content -->
    <main class="content flex-grow p-4">
      <ng-content select="[main-content]"></ng-content>
    </main>

    <!-- Sidebar -->
    <aside class="sidebar flex-shrink-0 bg-green-100 p-4 w-full lg:w-64">
      <ng-content select="[sidebar]"></ng-content>
    </aside>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
