.layout-container {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.content {
    flex-grow: 1;
    background-color: #20bc0f;
}

.sidebar {
    flex: 0 0 25%;
    background-color: #e2f8e9;
    padding: 1rem;

    @media (max-width: 1024px) {
        flex: 0 0 100%;
    }

    @media (max-width: 480px) {
        display: none;
    }
}