.button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: rgba(119, 121, 116, 0.547);
    font-weight: 400;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0px;

    ::ng-deep .mdc-button__label {
      display: contents;
    }

    .button-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .icon {
      margin-left: auto;
      font-size: 0.8rem;
    }

    &:hover, &.selected { 
      background-color: #38c316dd;
      color: white;
    }
  }