@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'swiper/swiper-bundle.css';


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@layer base {
    h1 {
        @apply text-4xl font-bold text-gray-800;
    }

    h2 {
        @apply text-3xl font-semibold text-gray-700;
    }

    h3 {
        @apply text-2xl font-medium text-gray-600;
    }

    p {
        @apply text-base text-gray-500 leading-relaxed;
    }

    a {
        @apply text-blue-500 hover:text-blue-700 underline;
    }
}

